.todo {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;

    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    font-size: 1.4rem;
    border-radius: 1rem;
    transition: all 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.todo_status,
.todo_delete {
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s;
    background: none;
    color: white;
    font-size: 1.6rem;

    &:hover {
        transform: scale(1.15);
    }
}

.todo_status {
    font-size: 1.75rem;
}